#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.converters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100%;
}