@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(38, 38, 38);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #FFF;
}